html, body {
	width: 1040px;
	font: 18px Times new Roman, sans-serif;
	background-image: url("images/violin.jpg");
}

a {
    color: #DC143C; /* Цвет ссылок */
	text-decoration:none;
}

a:active {
    color: #ffff00; /* Цвет активных ссылок */
}
a:hover {
    color: red; /* Цвет ссылки */
	text-shadow: 3px 3px 20px white;
} 

.title{
	color: #DC143C;
	font: bold 48px Century;
	text-align: right;
	position: relative;
	top: 10px;
	left: 300px;
	height: 50px;
}

.title1{
	color: #DC143C;
	text-align: center;
	font: 36px Сomic Sans MS;
}

.menu{
	color: #DC143C;
	font: 28px Times new Roman;
	width: 300px;
	position: relative;
	top: -50px;
}

.fire{
	width: 100px;
	height: 660px;
	background-image: url("images/fire4.png");
	background-repeat: repeat-y;
	background-size: 80px 90px;
	position: absolute;
	left: 250px;
	top: 0px;
}

.main{
	color: #DC143C;
	font: 40px Times new Roman;
	text-align: right;
	position: absolute;
	top: 100px;
	left: 940px;
	width: 400px;
}

.addition{
	position: absolute;
	top: 10px;
	left: 300px;
}

.colontitul{
	position: relative;
	color: #FFFFFF;
	font: 24px Times new Roman;
	text-align: center;
	top: 140px;
	left: 310px;
	width: 1045px;
	height: 30px;
	background-color: #0F0000;
	opacity: 0.85;
}